<!-- {{#unless payee}} -->
<h2>That payee couldn't be found!</h2>
<!-- {{/if}}
{{else}}
<h2>{{payee.name}} Bill</h2>
<form action="/payees/{{payee.name}}" method="post">
  <input type="text" name="payee[name]" placeholder="Name" value="{{payee.name}}">
  <input type="text" name="payee[address]" placeholder="Address" value="{{payee.address}}">
  <input type="number" name="payee[account_no]" placeholder="Account Number" value="{{payee.account_no}}">
  <button type="submit">Edit Platform</button>
</form> -->
<!-- {{/unless}} -->
